body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: url('../img/background.png') repeat;
  padding: 50px 100px;
}

header {
  flex: none;
  padding: 22px 25px; 
  background-color: #3e698d;
  margin: 0px;
}

header input {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  width: 95%;
  padding-left: 13px;
  font-size: 15px;
  line-height: 40px;
}

header input::-webkit-input-placeholder {
  color: #b8b8b8;
}

main {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #fff;
} 

article {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding-left: 32px;
}

nav {
  order: -1;
  padding: 1em;
  border-right: 1px solid #e9e9e9;
}

.facet {
  padding: .5em 0;
}

#hits {
  flex: 1;
}

#stats {
  flex: 1;
  padding-top: 1.5em;
  max-height: 40px;
}

#rating {
  padding-left: 12px;
}

#cuisine input, #payment input {
  display: none;
}

.nav-list {
  font-size: .9em;
  font-weight: 200;
  color: #333;
  padding-left: 1em;
}

.nav-list .ais-refinement-list--item {
  margin-bottom: .3em;
}

.pull-right {
  float: right;
}

.active, .ais-star-rating--item__active a {
  background-color: #5b98c3;
  color: #e9e9e9;
}

.smaller {
  font-size: 12px;
  color: #333;
}

.gray {
  color: #b4b4b4;
}

.small {
  font-size: 13px;
  color: #000;  
}

.orange {
  color: #ffab66;
}

.media-left {
  float: left;
}

.clear {
  clear: both;
}

.hit {
  height: 7em;
}

.hit img {
  height: 6em;
  width: 6em;
  border-radius: 4px;
  margin-right: 1em;
}

.hit .title {
  font-size: 16px;
  font-weight: 600;
}

.ais-star-rating--link, .ais-star-rating--link:hover {
  text-decoration: none;
}

.ais-star-rating--count {
  display: none;
}

.ais-star-rating--star::before {
  content: '\2605';
  color: #FBAE00;
  font-size: 20px;
}
.ais-star-rating--star__empty::before {
  content: '\2605';
  color: #e1e1e1;
  font-size: 20px;
}

.star {
  margin-left: 10px;
  margin-right: 10px;
}

.star::before {
  color: #FBAE00;
  font-size: 20px;
}

.star::after {
  color: #e1e1e1;
  font-size: 20px;
}

.star1::before {
  content: '\2605';
}
.star1::after {
  content: '\2605\2605\2605\2605';
}
.star2::before {
  content: '\2605\2605';
}
.star2::after {
  content: '\2605\2605\2605';
}
.star3::before {
  content: '\2605\2605\2605';
}
.star3::after {
  content: '\2605\2605';
}
.star4::before {
  content: '\2605\2605\2605\2605';
}
.star4::after {
  content: '\2605';
}
.star5::before {
  content: '\2605\2605\2605\2605\2605';
}

.btn {
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  background-color: #fff;
  color: #7f7f7f;
  display: inline-block;
  padding: 6px 40px;
  margin: 12px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.bottom {
  flex: 1 0 auto;
  margin: auto;
  padding-top: 20px;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
  }
  article {
    margin: 0;
  }
  nav {
    flex: 0 0 184px;
  }
}